p {
    font-size : 12pt;
    color:black;
    font-family: "sans-serif";
    font-weight : normal;
    text-align: justify;
}
h1 {
    font-size : 36pt;
    font-family: "sans-serif";
    text-align : center;
    color: #000000;
}
h3 {
    font-size : 20pt;
    margin: 1px;
    font-family: "sans-serif";
    text-align : center;
    color: #000000;
}
body {
    background-color : #ffffff;
    font-family : "sans-serif";
    color :black;
    width: 50%;
}
img{
    display: block;
    margin: 5px auto;
    justify-content: center;
}
.parent{
    display: flex;
    justify-content: center;
    text-align : center;
}

.container-2 input#search{
  width: 90px;
  height: 25px;
  background: white;
  border: 1px;
  font-size: 10pt;
  float: left;
  padding-left: 5px;
  border-radius: 5px;
  color: #000000;

}



.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
}
	.menuCSS3 a {
		display: block;
		padding: 1em;
		background-color: rgba(141, 153, 232, 0.77);
		text-decoration: none;
		color: #000000;
	}
	.menuCSS3 a:hover {
		background-color: #cfc7ff;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}

.nav{
	width: 960px;
	text-align:center;
	margin: 0 auto;
}

