<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email</title>
         {% load static %}
    <link rel="STYLESHEET" href="{%static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/menuUniverso.css' %}">
</head>
<body>

<nav class="menuCSS3">
	<ul>
		<li><a href="{% url 'core' %}">INICIO</a></li>
		<li><a href="{% url 'noticias' %}">NOTICIAS</a>
			<ul>
				<li><a href="#">Ciudad</a></li>
				<li><a href="#">Canton</a></li>
			</ul>
		</li>
		<li><a href="{% url 'deportes' %}">DEPORTES</a></li>
		<li><a href="{% url 'farandula' %}">FARANDULA</a>
			<ul>
				<li><a href="{% url 'email' %}">EMAIL</a></li>
				<li><a href="#">Mapa</a></li>
			</ul>

		</li>
	</ul>
</nav>
</body>
</html>