{% extends 'inicio.html' %}

{% block titulo %}Pestaña de Noticias   {% endblock %}

{% block contenidohija %}
<h1>CRUD CON VISTAS DE FUNCIONES</h1>
<a href="{% url 'noticiasAgregar' %}">Agregar Noticias</a>
<form action="" method="POST">
    <label>Buscar Por Titulo</label>
    <input type="text" name="titulo" value="">
    <input type="submit" value="Buscar">
    {% csrf_token %}
</form>
<table border="1">
   <thead>
       <tr>
         <td width="10%"> Titulo</td>
         <td width="60%"> Contenido</td>
           <td width="10%">Imagenes</td>
           <td width="30%">Opciones</td>
       </tr>
   </thead>
    <tbody>
        {% for presenta in Enviablog %}
        <tr>
           <td>{{presenta.titulo }}</td>
           <td>{{presenta.contenido}}</td>
           <td><img src="{{presenta.imagen.url}}" width="50" height="50"></td>
            <td><a href="{% url 'noticiasmodificar' presenta.id  %}">Editar </a>
                <a href="{% url 'noticiaeliminar' presenta.id  %} " onclick="return confirm('¿ Estas Seguro de Eliminar El Titulo {{ presenta.titulo}}?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}