{% extends 'inicio.html' %}
{% load static %}
{% block titulo %}
 QUIENES SOMOS
{% endblock %}
{% block contenidohija %}
  <div id="menu">
        <h2>buenas tardes</h2>
  </div>
  <div id="contenido">
      <img src="{% static 'core/img/yo.png' %}" alt="foto" style="width:100px;height:100px;border-radius: 25%">
      <table FRAME="void" RULES="rows">
          <tr>
            <th>NOMBRE:</th>
            <td>Adonis Alexander Merchan Guadamud</td>
          </tr>
          <tr>
            <th>CORREO:</th>
            <td>adamerchan@est.itsgg.edu.ec</td>
          </tr>

          <tr>
            <th>EDAD:</th>
            <td>19 años</td>
          </tr>

          <tr>
            <th>NACIONALIDAD:</th>
            <td>Ecuatoriano</td>
          </tr>


          <tr>
            <th>FECHA DE NACIMIENTO:</th>
            <td>10 de abril del 2003</td>
          </tr>

          <tr>
            <th>ESTATURA:</th>
            <td>171 cm</td>
          </tr>

          <tr>
            <th>SIGNO:</th>
            <td>Aries</td>
          </tr>

          <tr>
            <th>OCUPACION:</th>
            <td>Estudiantes</td>
          </tr>

          <tr>
              <th>NOMBRE DE LA UNIDAD EDUCATIVA (PRIMARIA):</th>
              <td>Escuela Particular Liceo Latinoamericana</td>
          </tr>

          <tr>
              <th>NOMBRE DE LA UNIDAD EDUCATIVA (SECUNDARIA):</th>
              <td>Unidad Catolica Particular Juan Diego Cuauhtlatoatzin</td>
          </tr>

          <tr>
              <th>NOMBRE DE LA UNIDAD EDUCATIVA (UNIVERSIDA):</th>
              <td>Instituto Superior Tecnologico Guayaquil</td>
          </tr>

          <tr>
              <th>COLOR FAVORITO:</th>
              <td>Verde</td>
          </tr>
      </table>
  </div>
{% endblock %}