# Default ignored files
/../../Proyect./.idea/shelf/
/../../Proyect./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Proyect./.idea/httpRequests/
# Datasource local storage ignored files
/../../Proyect./.idea/dataSources/
/../../Proyect./.idea/dataSources.local.xml
